@import "tailwindcss";
@import "./theme.css";
@import "./fonts.css";

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  height: 100%;
}

body {
  scrollbar-gutter: stable;
  overflow: auto;
}
